/* Geometria */

@font-face {
    font-family: 'Geometria-Regular';
    src: url('./fonts/geometria/Geometria.woff2') format('woff2'),
        url('./fonts/geometria/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('./fonts/geometria/Geometria-Bold.woff2') format('woff2'),
        url('./fonts/geometria/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('./fonts/geometria/Geometria-Medium.woff2') format('woff2'),
        url('./fonts/geometria/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Light';
    src: url('./fonts/geometria/Geometria-Light.woff2') format('woff2'),
        url('./fonts/geometria/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
